In [1]:
import pandas as pd

In [7]:
dict_data = {'a':[1,2,3], 'b':[4,5,6], 'c':[7,8,9]}
df = pd.DataFrame(dict_data)
df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [9]:
df1 = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]], columns=['a','b','c'], index=['i1', 'i2', 'i3'])
df1

    a  b  c
i1  1  2  3
i2  4  5  6
i3  7  8  9

In [11]:
import numpy as np

In [19]:
arr = np.random.rand(10)

array([0.02438898, 0.52383532, 0.52275401, 0.07673175, 0.90887816,
       0.6837119 , 0.01088578, 0.83989182, 0.71485731, 0.70038944])